API_ID=25590086
API_HASH=7002fdf95cf67c1d236679d1aa9325e5
BOT_TOKEN=6686376944:AAGJ7vLj_KVj_18zDhzGXdmTX51Xf6IcrNU
OWNER_ID=6640412062
SESSION=BAGGrREABFisxEOgipkj-lAU2HvGHetIGvAcXAuLovZWCXAeh4V64bUOJM88foBYxVfVnlOml9h-XTvFS6FNo1WXjO-dFYID6m59Hv4ZAeKwZiqTahmrIaBFNBcdON0QZwqlicJl4IKwasA2SGoJuM_SuY9oUD07k-MaafCryxEYR28YkxLB9FCHWke3DrBJ0o8sk6u4T2dDf0evlSU5_pslPpFcCG3wxvJiBP_aNrllaNYfgwONodsPwD9CLWAYmG1qNJK0qhZHMFU2e2drxaKZLQM-jZEZRsgPstUYN3-0lE2dnwnKf5I3BO6G2hBN6i_j6ZwBbKRQ6SyrX1MohT1UjNjBrgAAAAGeOpnPAA
SUPPORT_CHAT=https://t.me/noxoffical
SUDO_USERS=6640412062 123456789
